
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
}

body.dragging * {
  user-select: none;
}


ul{
  list-style: none;
  padding: 5px;

}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 10px;

  
}


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}


@media screen and (min-width:800px) {
  .tabcontent{
    display: block !important;
  }
  
}

.container ul {
  flex: 1;
 
  height: 100%;

}

.coluna-estagio{
  flex: 1;
  height: 100vh;
}

.coluna-estagio h2{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  font-weight: 600;
}

.coluna-estagio h2::after{
  content: '';
  width: 100%;
  height: 1.5px;
  background: #BEBEBE;
  position: absolute;
  bottom: -5px;
}


.container ul .card {
  flex: 1;
  background: white;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  position: relative;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.coluna-estagio:nth-child(1) .card{
  background: rgba(252, 251, 188, 0.479);
}
.coluna-estagio:nth-child(2) .card{
  background: rgba(11, 178, 207, 0.301);
}
.coluna-estagio:nth-child(3) .card{
  background: rgba(57, 207, 11, 0.301);
}



.menu-card-container{
  position: absolute;
  max-width: 130px;
  width: 100%;
  position: absolute;
  right: 20px;
 
}

.open-card-option{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
 background: none;
  border: none;
  border-radius: 4px;
  margin: 0px 0px 0px auto;
  cursor: pointer;
 
}

.open-card-option:hover, .open-card-option.active {
  background: #F4F4F4;
}

.menu-card{
  max-width: 130px;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 25px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
 
}



.menu-card.active{
  display: flex;
}

.menu-card button{
  width: 100%;
  background: none;
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
}

.menu-card button:hover:nth-child(1){
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menu-card button:nth-child(3){
  display: none;
}

.menu-card button:hover:nth-child(2){
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


@media screen and (max-width:768px) {

  .menu-card button:hover:nth-child(2){
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .menu-card button:nth-child(3){
    display: flex;
  }
  
  .menu-card button:hover:nth-child(3){
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
}


.menu-card button:hover{
  background: #ccc;
}

.card .etiqueta{
   display: flex;
   align-items: center;
   gap: 5px;
}

.card .etiqueta span{
  background: #FC7614;
  padding: 5px;
  border-radius: 50%;
}


.titulo-tarefa{
  margin-top: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

